body {
    background: url(../assets/background-main.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.halo-3-img {
    width: 15rem;
}

.borderlands-3-img {
    width: 15rem;
}

.diablo-3-img {
    width: 15rem;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.dropdown>.link:hover,
.link:hover {
    color: black;
}

.link {
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(179, 170, 170);
    height: 3em;
}

.link>a {
    color: rgb(179, 170, 170);
}

.link>a:hover {
    color: black;
}

.dropdown-img {
    /* position: absolute; */
    /* top: calc(100% + .25rem); */
    height: 100%;
    background-color: rgba(13, 4, 95, 0.1);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
    /* content: contain; */
}

.dropdown>.link:hover+.dropdown-img {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown>.link:hover {
    background-color: rgba(13, 4, 95, 0.1);
}

@media (min-width: 900px) {

    .main-ul {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */

        /* display: grid;
    grid-template-columns: repeat(1fr);
    /* gap: 10em; */
        /* grid-template-areas:
        'halo diablo borderlands';
    content: contain;
    justify-content: center; */
    }
}

/* 
li {
    width: 100%;
    content: contain;
    justify-content: center;
    align-items: center;
} */
@media (min-width: 900px) {
    .main {
        display: grid;
        grid-template-columns: repeat(1fr);
        /* gap: 10em; */
        grid-template-areas:
            'halo diablo borderlands';
        content: contain;
        justify-content: center;
    }

}

.halo-3 {
    grid-area: halo;
}

.diablo-3 {
    grid-area: diablo;
}

.borderlands-3 {
    grid-area: borderlands;
}




.dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* content: cover; */
    justify-content: center;
    align-items: center;
    text-align: center;
    border: black 2px solid;
    border-radius: .25rem;
    margin: 10px;
    background-color: rgba(131, 127, 167, 0.5);
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, .2);
}


header {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    color: antiquewhite;
}